.DS_Store
Thumbs.db

*.ts
*.log
tsconfig.json
tslint.json
.eslintrc
.editorconfig
.travis.yml
.prettierrc
.releaserc
.nycrc.json
cspell.json
*.lcov
yarn.lock

.env.*

!*.d.ts

typings/
node_modules/
examples/
build-examples/
spec/
test/
docs/
scripts/
.nyc_output/
.vscode/
.github/
coverage/
