.DS_Store
Thumbs.db

*.ts
*.log
tsconfig.json
tslint.json
.eslintrc
.editorconfig
.travis.yml
.prettierrc
.prettierignore
.npmrc
.parcelrc
renovate.json
.releaserc
.nycrc.json
.yarnrc.yml
cspell.json
*.lcov
yarn.lock
package-lock.json

.env.*

!*.d.ts

.parcel-cache/
typings/
node_modules/
examples/
build-examples/
spec/
test/
docs/
scripts/
.yarn/
.husky/
.nyc_output/
.vscode/
.github/
coverage/
